html {
    width: 100vw;
    height: 100vh;
}

body {
    background: linear-gradient(161.63deg, #ECFCF7 0.48%, #0CA577 104.27%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#salir {
    width: 10vh;
    height: 10vh;
    position: absolute;
    top: 3vh;
    left: 3vh;
}

div {
    font-family: 'Quicksand';
}

#caja_productos {
    margin-top: 10vh;
    height: 90vh;
    width: 80vw;
    background-color: #ECFCF7;
}

.codigo {
}

#formulario {
   width: 80vw;
   margin: 3vh;
}

.total_producto {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3vh;
        width: 80vw;
}

#confirmar {
    background-color: #624ABE;
    margin-bottom: 1.5em;
    border: 3px solid #624ABE;
    box-sizing: border-box;
    border-radius: 17px;
    width: 80vw;

}