#salir {
    width: 10vh;
    height: 10vh;
    position: absolute;
    top: 3vh;
    left: 3vh;
}

div {
    font-family: 'Quicksand';
}

h1 {
    margin-top: 5vh;
}

#condiciones {
    height: 2vh;
    display:flex;
    flex-direction: row;
    align-items: center;    
    margin: 1vh;
}

#condiciones p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
    margin-left: 0.5vh;
}

#condiciones p a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
}
/*
Movil
*/

@media (max-width: 950px) {
    html {
        width: 100vw;
        height: 100vh;
    }
    
    body {
        overflow: hidden;
        width: 100%;
        height: 100%;
        background: linear-gradient(161.63deg, #ECFCF7 0.48%, #0CA577 104.27%);
        display: flex;
        align-items: center;
        justify-content: center;    
    }
    
    form {
        display: flex;
        align-items: center;
        justify-content: center;  
        flex-direction: column;
        width: 100%;
    }
    
    #elementos {
        border-radius: 1em;
        background-color: #47BC99;
        width: 85%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }
    
    #input-box {
        width: 90%;
        margin: 0.5vh;
    }
    
    
    #submit {
        margin: 5vh;
        height: 6vh;
        width: 20vh;
        background: #624ABE;
        border: 3px solid #624ABE;
        border-radius: 1em;
        color: #F5FFFD;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    form a {
        margin: 0.5vh;
    }
    
    #logo {
        border-radius: 3em;
        top: 5vh;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #ECFCF7;
        height: 10vh;
        width: 20vh;
    }
    
    a {
        color: #FBFBFB
    }
    
    #todo {
        background: rgba(0, 0, 0, 0.66);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    #labelSubmitRegistrar, #labelSubmitConfirmarRegistro {
        display: none;
        color: red;
        margin-top: 1.5vh;
        margin-bottom: -3vh;
    }

    #errorImg {
        width: 3.5vh;
        height: 3.5vh;
        margin-right: 0.5vh;
    }
}

/*
escritorio
*/

@media (min-width: 950px) {
    html {
        width: 100vw;
        height: 100vh;
    }
    
    body {
        overflow: hidden;
        width: 100%;
        height: 100%;
        background: linear-gradient(161.63deg, #ECFCF7 0.48%, #0CA577 104.27%);
        display: flex;
        align-items: center;
        justify-content: center;    
    }
    
    form {
        display: flex;
        align-items: center;
        justify-content: center;  
        flex-direction: column;
        width: 100%;
    }
    
    #elementos {
        border-radius: 1em;
        background-color: #47BC99;
        width: 40%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }
    
    #input-box {
        width: 90%;
        margin: 0.5vh;
    }
    
    #submit {
        margin: 5vh;
        height: 6vh;
        width: 20vh;
        background: #624ABE;
        border: 3px solid #624ABE;
        border-radius: 1em;
        color: #F5FFFD;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    form a {
        margin: 0.5vh;
    }
    
    #logo {
        border-radius: 3em;
        top: 10vh;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #ECFCF7;
        height: 10vh;
        width: 20vh;
    }
    
    a {
        color: #FBFBFB
    }
    
    #todo {
        background: rgba(0, 0, 0, 0.66);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    #labelSubmitRegistrar, #labelSubmitConfirmarRegistro {
        display: none;
        color: red;
        margin-top: 1.5vh;
        margin-bottom: -3vh;
    }

    #errorImg {
        width: 3.5vh;
        height: 3.5vh;
        margin-right: 0.5vh;
    }
}