.pagina-1 {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

.pagina-2 {
    width: 100vw;
    height: 100vh;
    background-color: red;
}

.pagina-3 {
    width: 100vw;
    height: 100vh;
    background-color: blue;
}

.div_busqueda {
    background-color: blueviolet;
    width: 100vw;
    height: 7vh;
    position: absolute;
}