body {
    background: linear-gradient(161.63deg, #ECFCF7 0.48%, #D7D5D4 104.27%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div {
    font-family: 'Quicksand';
}
/*
Movil
*/

/* Movil */
@media (max-width: 950px) {
    #nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #CF8E8E;
        color: rgb(255, 252, 252);
        padding: 2vh 0vh;
        width: 100%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .titulo {
        font-weight: 300;
    }

    #salir{
        position: absolute;
        left: 3vh;
    }

    #caja_productos {
        height: 70vh;
        width: 80vw;
        background-color: #ECFCF7;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px black solid;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    #formulario {
       width: 100%;
       margin: 3vh;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    
    .total_producto {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3vh;
        width: 80vw;
    }
    
    #confirmar {
        background-color: #E47E7E;
        margin-bottom: 1.5em;
        border: 3px solid #402A36;
        box-sizing: border-box;
        border-radius: 17px;
        width: 80vw;
    
    }
  
    .carrito_prod_top {
        display: flex;
        flex-direction: row;
    }

    .carrito_prod_infobox {
        display: flex;
        flex-direction: column;
        width: 70vw;
    }

    .carrito_producto {
        background-color: #CF8E8E; 
        width: 70vw;
        margin-top: 2vh;
        display: flex;
        flex-direction: column;
        border-radius: 12px 12px 12px 12px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .carrito_prod_img{
        width: 24vw;
        height: 24vw;
        border-radius: 12px 0px 0px 0px;
    }

    .carrito_prod_nombre{
        font-size: small;
        margin-left: 1vh;
        color: #F5FFFD;
        text-decoration: none;
    }

    .carrito_prod_precio{
        font-size: large;
        margin-top: -3vh;
        font-weight: bold;
        margin-left: 1vh;
        color: #F5FFFD;
    }

    .carrito_prod_añadir {
        margin-right: 1vh;
    }

    .carrito_prod_cantidad {
        display: flex;
        align-self: flex-end;
        align-items: center;
    }

    .carrito_prod_cantidad button {
        background-color: rgba(0, 0, 0, 0);
        border: 0px;
    }

    .carrito_prod_cantidad_nro {
        color: #296C59;
        background: #F5FFFD;
        border: 1px solid #296C59;
        border-radius: 3px;
        padding-right: 1vh;
        padding-left: 1vh;
        margin-left: 1vh;
        margin-right: 1vh;
    }

    .carrito_prod_footer {
        background: #BB5454;
        border-radius: 0px 0px 12px 12px;
        font-family: 'Quicksand';
        font-size: x-small;
        color: #F5FFFD;
        padding: 1vh;
    }

    .codigo {
        margin-top: 2vh;
    }
}

/* PC */
@media (min-width: 950px) {
    #nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #CF8E8E;
        color: rgb(255, 252, 252);
        padding: 2vh 0vh;
        margin-bottom: 4vh;
        width: 100%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .titulo {
        font-weight: 300;
    }

    #salir{
        position: absolute;
        left: 3vh;
    }
    #caja_productos {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 40vw;
        background-color: #ECFCF7;
        border-radius: 10px;
        border: 1px black solid;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    #codigo_descuento_form{
        border-radius: 17px;
    }
    #formulario {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 84vh;
        /*
        margin: 3vh;
        align-items: center;
        justify-content: center;
        */
    }
    
    .total_producto {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1vh;
        width: 20vw;
    }
    
    #confirmar {
        background-color: #E47E7E;
        margin-bottom: 1.5em;
        border: 3px solid #402A36;
        box-sizing: border-box;
        border-radius: 17px;
        width: 20vw;
    
    }

    .carrito_prod_top {
        display: flex;
        flex-direction: row;
    }

    .carrito_prod_infobox {
        display: flex;
        flex-direction: column;
        width: 35vw;
        padding: 0vh 1vh;
    }

    .carrito_prod_info {
        margin-top: 2vh;
    }

    .carrito_producto {
        background-color: #CF8E8E; 
        width: 35vw;
        margin-top: 2vh;
        display: flex;
        flex-direction: column;
        border-radius: 12px 12px 12px 12px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .carrito_prod_img{
        width: 30%;
        height: 18vh;
        border-radius: 12px 0px 0px 0px;
    }

    .carrito_prod_nombre{
        font-size: small;
        margin-left: 1vh;
        color: #F5FFFD;
        text-decoration: none;
    }

    .carrito_prod_precio{
        font-size: large;
        margin-top: -3vh;
        font-weight: bold;
        margin-left: 1vh;
        color: #F5FFFD;
    }

    .carrito_prod_añadir {
        margin-right: 1vh;
        cursor: pointer;
    }

    .carrito_prod_añadir:hover {
        transform: scale(110%);
    }

    .carrito_prod_restar {
        cursor: pointer;
    }
    
    .carrito_prod_restar:hover {
        transform: scale(110%);
    }

    .carrito_prod_cantidad {
        display: flex;
        align-self: flex-end;
        align-items: center;
    }

    .carrito_prod_cantidad button {
        background-color: rgba(0, 0, 0, 0);
        border: 0px;
    }

    .carrito_prod_cantidad_nro {
        color: #296C59;
        background: #F5FFFD;
        border: 1px solid #296C59;
        border-radius: 4px;
        padding-right: 1vh;
        padding-left: 1vh;
        margin-left: 1vh;
        margin-right: 1vh;
        width: 6vh;
    }
    
    .carrito_prod_cantidad_nro::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    .carrito_prod_footer {
        background: #BB5454;
        border-radius: 0px 0px 12px 12px;
        font-family: 'Quicksand';
        font-size: x-small;
        color: #F5FFFD;
        padding: 1vh;
    }

    .codigo {
        margin-top: 2vh;
    }

    #error {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.6);
    }

    #error-body {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 1;
        top: 30vh;
        width: 75vh;
        height: 20vh;
        background-color: #D7D5D4;
        padding: 4vh;
        border-radius: 2vh;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
    }

    #error-body img {
        width: 8vh;
        height: 8vh;
    }

    #error-messages {
        display: flex;
        flex-direction: column;
    }

    .error-msg {
        color: red;
        font-size: 3vh;
        margin-left: 2vh;
    }

    .error-recargar {
        font-size: 3vh;
        margin-left: 2vh;
        cursor: pointer;
    }

    /* Nuevo */
    #mdl-prod-del {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.6);
    }

    #mdl-prod-del-body {
        margin-top: -6em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #D7D5D4;
        width: 25em;
        height: 30em;
        border-radius: 2em;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        animation-name: animacionModal;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
    }
    /* Nuevo */
    #form-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: 95%;
        border-right: 1px rgba(0, 0, 0, 0.25) solid;
    }

    #informacion-envio {
        font-size: 6vh;
        font-weight: 600;
        border-bottom: 1px solid black;
        margin-bottom: 2vh;
    }

    #envio-info-inputs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid black;
        width: 60vh;
        padding: 2vh;
    }

    .selector {
        max-width: 30vh;
    }

    #input-box {
        margin-top: 2vh;
    }

    #form-right {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 95%;
        border-left: 1px rgba(0, 0, 0, 0.25) solid;
        padding-left: 4vh;
    }

    /* Error */
    #error-envio {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 2;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.6);
        animation-name: animacionModal;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
    }

    #error-envio-body {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 1;
        top: 30vh;
        width: 75vh;
        height: 20vh;
        background-color: #D7D5D4;
        padding: 4vh;
        border-radius: 2vh;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
    }

    #error-envio-exit {
        margin-right: 2vh;
        margin-left: -3vh;
        cursor: pointer;
    }

    #error-envio-img {
        width: 6vh;
        height: 6vh;
    }

    #error-envio-msg {
        color: red;
        font-size: 3vh;
        margin-left: 1vh;
    }
}