:root {
    --background: #D7D5D4; /*linear-gradient(161.63deg, #ECFCF7 0.48%, #0CA577 104.27%);*/
    --titulo: #E47E7E; 
    --prodata: #CF8E8E;
    --darker: #8c4b58;
    /*var(--nombre)*/
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: var(--background);
}

#salir {
    width: 10vh;
    height: 10vh;
    position: absolute;
    top: 3vh;
    left: 3vh;
}

div {
    font-family: 'Quicksand';
}
#elementos {
    width: 80vw;
    height: 80vh;
}

#input-box {
    width: 80vw;

}

#input-box-dropdown {
    margin-bottom: 2vh;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80vw;
    background-color: #F2F2F2;
    border: 0;
}

#input-box button {
    color: var(--darker);
}

#enviar {
    background-color: #624ABE;
    width: 80vw;
    height: 6vh;
    margin-top: 5vh;
    border-radius: 1em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form-select {
    margin-top: 2vh;
    margin-bottom: 2vh;
}