:root {
    --background: #D7D5D4; /*linear-gradient(161.63deg, #ECFCF7 0.48%, #0CA577 104.27%);*/
    --titulo: #E47E7E; 
    --prodata: #CF8E8E;
    --darker: #8c4b58;
}

#salir {
    width: 10vh;
    height: 10vh;
    position: absolute;
    top: 3vh;
    left: 3vh;
}

a {
    text-decoration: none;
}

body {
    background: var(--background);
    width: 100%;
    height: 100%;
    margin: 0 0;
}

html {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

/*
Escritorio
*/
@media (min-width: 950px) {

    #elementos {

        height: 95%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    div {
        font-family: 'Quicksand';
    }
    
    #foto {
        /*
        margin-bottom: 5vh;
        */
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--titulo);
        height: 35vh;
        width: 35vh;
        border-radius: 50%;
        margin-top: 4vh;
    }

    #agregarFotoPerfil:hover {
        transform: scale(110%);
        transition: all .2s ease-in-out;
    }
    
    #agregarFotoPerfil {
        transition: all .2s ease-in-out;
        cursor: pointer;
    }

    #fotoDePerfil {
        height: 35vh;
        width: 35vh;
        border-radius: 50%;
        transition: all .2s ease-in-out;
    }

    #profilePicture {
        display: none;
    }

    #editarFotoPerfil {
        position: absolute;
        opacity: 0;
        height: 10vh;
        width: 10vh;
        margin-left: -23vh;
        margin-top: 12vh;
        transition: all .2s ease-in-out;
    }

    #editarFotoPerfil:hover {
        opacity: 0.8;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }

    #button-box {
        transition: all .2s ease-in-out;
        text-align: center;
        width: 20vw;
        height: 6vh;
        margin: 2vh;
        border-radius: 1.6em;
        border: 3px solid #624ABE;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #624ABE;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        font-weight: 700;
    }
    
    #button-box:hover {
        background-color: #624ABE;
        border: 3px solid #624ABE;
        color: #D9F9EF;
    }
    
    #button-box:active {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0));
        transform: scale(90%);
    }
    
    .cerrar {
        transition: all .2s ease-in-out;
        text-align: center;
        width: 20vw;
        height: 6vh;
        margin-top: 4vh;
        border-radius: 1.6em;
        border: 3px solid #FB3958;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FB3958;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        font-weight: 700;
    }
    
    .cerrar:hover {
        background-color: #FB3958;
        color: #D9F9EF;
    }
    
    .cerrar:active {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0));
        transform: scale(90%);
    }
    
    .ayuda {
        transition: all .2s ease-in-out;
        text-align: center;
        width: 20vw;
        height: 6vh;
        margin-top: 2vh;
        border-radius: 1.6em;
        border: 3px solid #F5FFFD;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #F5FFFD;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        font-weight: 700;
    }
    
    .ayuda:hover {
        background-color: #F5FFFD;
        color: #42524c;
    }
    
    .ayuda:active {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0));
        transform: scale(90%);
    }

    /* Nuevo */

    #informacion-usuario {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 4vh;
    }

    #editar-informacion {
        display: none;
        width: 5vh;
        height: 5vh;
        margin-left: 2vh;
        transition: all .2s ease-in-out;
    }
    
    #editar-informacion:hover {
        cursor: pointer;
        transition: all .2s ease-in-out;
    }
    
    #editar-informacion:active {
        transform: scale(80%);
        cursor: pointer;
        transition: all .1s ease-in-out;
    }

    /* Modal */
    #modal {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.6);
    }

    #cuerpo-modal {
        margin-top: -6em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #47BC99;
        width: 25em;
        height: 30em;
        border-radius: 2em;
    }

    #modal-datos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #modal-datos label {
        align-self: flex-start;
    }

    #modal-contraseña {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px #95D6C2 solid;
        border-radius: 12px;
        padding: 1vh;
        margin-top: 1vh;
    }

    #modal-contraseña label {
        align-self: flex-start;
    }

    .input-modal {
        margin: 1vh 0vh 1vh 0vh;
    }

    #submit {
        margin: 2vh;
        height: 6vh;
        width: 20vh;
        background: #624ABE;
        border: 3px solid #624ABE;
        border-radius: 1em;
        color: #F5FFFD;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    .form-control {
        width: 24em;
    }

    #modal-top {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #modal-top h3 {
        align-self: center;
        justify-self: center;
        margin-left: 12vh;
    }

    #salir-modal {
        transition: all .2s ease-in-out;
        margin-left: 2vh;
    }

    #salir-modal:hover {
        transition: all .2s ease-in-out;
        cursor: pointer;
        transform: scale(120%);
    }

    /* Nuevo Suscripción */
    #suscripcion {
        width: 1.5em;
        height: 1.5em;
        margin-bottom: 0.5vh;
        margin-right: 1vh;
    }
}

/*
movil
*/
@media (max-width: 950px) {

    #elementos {

        height: 95%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    div {
        font-family: 'Quicksand';
    }
    
    #foto {
        /*
        margin-bottom: 5vh;
        */
        display: flex;
        justify-content: center;
        align-items: center;
        background: #CCEDE5;
        height: 25vh;
        width: 25vh;
        border-radius: 50%;
        margin-top: 2vh;
    }
    
    #agregarFotoPerfil {
        transition: all .2s ease-in-out;
        cursor: pointer;
    }

    #fotoDePerfil {
        height: 25vh;
        width: 25vh;
        border-radius: 50%;
        transition: all .2s ease-in-out;
    }

    #editarFotoPerfil {
        position: absolute;
        height: 3vh;
        width: 3vh;
        margin-left: 21vh;
        transition: all .2s ease-in-out;
    }
    
    #button-box {
        transition: all .2s ease-in-out;
        text-align: center;
        width: 70vw;
        height: 6vh;
        margin: 2vh;
        border-radius: 1.6em;
        border: 3px solid #624ABE;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #624ABE;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        font-weight: 700;
    }
    
    #button-box:hover {
        background-color: #624ABE;
        border: 3px solid #624ABE;
        color: #D9F9EF;
    }
    
    #button-box:active {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0));
        transform: scale(90%);
    }
    
    .cerrar {
        transition: all .2s ease-in-out;
        text-align: center;
        width: 70vw;
        height: 6vh;
        margin-top: 4vh;
        border-radius: 1.6em;
        border: 3px solid #FB3958;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FB3958;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        font-weight: 700;
    }
    
    .cerrar:hover {
        background-color: #FB3958;
        color: #D9F9EF;
    }
    
    .cerrar:active {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0));
        transform: scale(90%);
    }
    
    .ayuda {
        transition: all .2s ease-in-out;
        text-align: center;
        width: 70vw;
        height: 6vh;
        margin-top: 2vh;
        border-radius: 1.6em;
        border: 3px solid #F5FFFD;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #F5FFFD;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        font-weight: 700;
    }
    
    .ayuda:hover {
        background-color: #F5FFFD;
        color: #42524c;
    }
    
    .ayuda:active {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0));
        transform: scale(90%);
    }

    /* Nuevo */

    #informacion-usuario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4vh;
    }

    #editar-informacion {
        width: 4vh;
        height: 4vh;
        transition: all .2s ease-in-out;
    }
    
    #editar-informacion:active {
        transform: scale(80%);
        cursor: pointer;
        transition: all .1s ease-in-out;
    }

    /* Modal */
    #modal {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.6);
    }

    #cuerpo-modal {
        margin-top: -10em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #47BC99;
        width: 20em;
        height: 30em;
        border-radius: 2em;
    }

    #modal-datos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #modal-datos label {
        align-self: flex-start;
    }

    #modal-contraseña {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px #95D6C2 solid;
        border-radius: 12px;
        padding: 1vh;
        margin-top: 1vh;
    }

    #modal-contraseña label {
        align-self: flex-start;
    }

    .input-modal {
        margin: 1vh 0vh 1vh 0vh;
    }

    #submit {
        margin: 2vh;
        height: 6vh;
        width: 20vh;
        background: #624ABE;
        border: 3px solid #624ABE;
        border-radius: 1em;
        color: #F5FFFD;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    .form-control {
        width: 18em;
    }

    #modal-top {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #modal-top h3 {
        align-self: center;
        justify-self: center;
        margin-left: 4vh;
    }

    #salir-modal {
        transition: all .2s ease-in-out;
        margin-left: 2vh;
    }

    #salir-modal:active {
        transition: all .2s ease-in-out;
        cursor: pointer;
        transform: scale(120%);
    }
}