:root {
    --background: #D7D5D4; /*linear-gradient(161.63deg, #ECFCF7 0.48%, #0CA577 104.27%);*/
    --titulo: #E47E7E; 
    --prodata: #CF8E8E;
    --darker: #8c4b58;
    /*var(--nombre)*/
}

#salir {
    width: 10vh;
    height: 10vh;
    position: absolute;
    top: 3vh;
    left: 3vh;
}

a {
    text-decoration: none;
}

body {
    background: #D7D5D4;
    width: 100%;
    height: 100%;
    margin: 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

html {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

/*
Escritorio
*/
@media (min-width: 950px) {
    #imagen {
        margin: 4vw 0vw 0vw 0vw;
        width: 20vw;
        height: 20vw;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #imagen img{
        background-color: #0CA577;
        width: 100%;
        height: 30vw;
        border-radius: 2em;
    }
    
    #inner-carousel {
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    h1 {
        font-family: 'Quicksand';
        font-weight: 700;
        color: #2e2e2e;
        border-top: 2px #2e2e2e solid;
    }

    h2 {
        font-family: 'Quicksand';
        color: #2e2e2e;
    }

    p {
        color: #2e2e2e;
        margin-top: -1vh;
        text-align: center;
        width: 30vw;
        font-family: 'Quicksand';
    }

    #enviar {
        color: #2e2e2e;
        font-family: 'Quicksand';
        font-weight: 200;
        background-color: #624ABE;
        width: 30vw;
        height: 6vh;
        border-radius: 1em;
        border: 0;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    /* Nuevo */
    #info-producto {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #2e2e2e;
    }

    .info-producto-datos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0vh 4vh;
    }

    .info-producto-datos img {
        width: 1.5em;
        height: 1.5em;
    }

    #vendedor span {
        cursor: pointer;
    }
}

/*
movil
*/
@media (max-width: 950px) {
    #imagen {
        margin: 30vw 0vw 5vw 0vw;
        margin-bottom: 1em;
        width: 50vw;
        height: 50vw;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #imagen img{
        background-color: #0CA577;
        width: 100%;
        height: 90vw;
        border-radius: 2em;
    }
    
    #inner-carousel {
        display: flex;
        align-items: center;
        height: 100%;
    }

    h1 {
        font-family: 'Quicksand';
        font-weight: 700;
        color: #2e2e2e;
        border-top: 2px #2e2e2e solid;
    }

    h2 {
        font-family: 'Quicksand';
        color: #2e2e2e;
    }

    p {
        color: #2e2e2e;
        margin-top: -1vh;
        text-align: center;
        width: 90vw;
        font-family: 'Quicksand';
    }

    #enviar {
        color: #2e2e2e;
        font-family: 'Quicksand';
        font-weight: 200;
        background-color: #624ABE;
        width: 80vw;
        height: 6vh;
        border-radius: 1em;
        border: 0;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    /* Nuevo */
    #info-producto {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #2e2e2e;
        margin-bottom: 4vh;
    }

    .info-producto-datos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0vh 2vh;
    }

    .info-producto-datos img {
        width: 1.5em;
        height: 1.5em;
    }

    #vendedor span {
        cursor: pointer;
    }
}