html {
    width: 100vw;
    height: 100vh;
}

body {
    background: linear-gradient(161.63deg, #ECFCF7 0.48%, #0CA577 104.27%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#salir {
    width: 10vh;
    height: 10vh;
    position: absolute;
    top: 3vh;
    left: 3vh;
}

div {
    font-family: 'Quicksand';
}

/*
Movil
*/

@media (max-width: 950px) {
    #caja_productos {
        margin-top: 10vh;
        height: 90vh;
        width: 80vw;
        background-color: #ECFCF7;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carrito_prod_top {
        display: flex;
        flex-direction: row;
    }

    .carrito_prod_infobox {
        display: flex;
        flex-direction: column;
        width: 36vw;
    }

    .carrito_producto {
        background-color: #8BC9B7; 
        width: 70vw;
        margin-top: 2vh;
        display: flex;
        flex-direction: column;
        border-radius: 12px 12px 12px 12px;
    }

    .carrito_prod_img{
        width: 24vw;
        height: 24vw;
        border-radius: 12px 0px 0px 0px;
    }

    .carrito_prod_nombre{
        font-size: small;
        margin-left: 1vh;
        color: #F5FFFD;
    }

    .carrito_prod_precio{
        font-size: large;
        margin-top: -3vh;
        font-weight: bold;
        margin-left: 1vh;
        color: #F5FFFD;
    }

    .carrito_prod_añadir {
        margin-right: 1vh;
    }

    .carrito_prod_cantidad {
        display: flex;
        align-self: flex-end;
        align-items: center;
    }

    .carrito_prod_cantidad_nro {
        color: #296C59;
        background: #F5FFFD;
        border: 1px solid #296C59;
        border-radius: 3px;
        padding-right: 0.75vh;
        padding-left: 0.75vh;
        margin-left: 1vh;
        margin-right: 1vh;
    }

    .carrito_prod_footer {
        background: #624ABE;
        border-radius: 0px 0px 12px 12px;
        font-family: 'Quicksand';
        font-size: x-small;
        color: #F5FFFD;
        padding: 1vh;
    }

    .mas_info {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: row;
        margin-top: 1vh;
    }

}

/* PC */
@media (min-width: 950px) {
    #caja_productos {
        margin-top: 4vh;
        height: 90vh;
        width: 40vw;
        background-color: #ECFCF7;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }

    .carrito_prod_top {
        display: flex;
        flex-direction: row;
    }

    .carrito_prod_infobox {
        display: flex;
        flex-direction: column;
        width: 27vw;
    }

    .carrito_producto {
        background-color: #8BC9B7; 
        width: 35vw;
        margin-top: 2vh;
        display: flex;
        flex-direction: column;
        border-radius: 12px 12px 12px 12px;
    }

    .carrito_prod_img{
        width: 6vw;
        height: 6vw;
        border-radius: 12px 0px 0px 0px;
    }

    .carrito_prod_nombre{
        font-size: small;
        margin-left: 1vh;
        color: #F5FFFD;
    }

    .carrito_prod_precio{
        font-size: large;
        margin-top: -3vh;
        font-weight: bold;
        margin-left: 1vh;
        color: #F5FFFD;
    }

    .carrito_prod_añadir {
        margin-right: 1vh;
    }

    .carrito_prod_cantidad {
        display: flex;
        align-self: flex-end;
        align-items: center;
    }

    .carrito_prod_cantidad_nro {
        color: #296C59;
        background: #F5FFFD;
        border: 1px solid #296C59;
        border-radius: 3px;
        padding-right: 0.75vh;
        padding-left: 0.75vh;
        margin-left: 1vh;
        margin-right: 1vh;
    }

    .carrito_prod_footer {
        background: #624ABE;
        border-radius: 0px 0px 12px 12px;
        font-family: 'Quicksand';
        font-size: x-small;
        color: #F5FFFD;
        padding: 1vh;
    }

    .titulo_prod_venta{
        margin-top: 10vh;
    }
}