#body{
    background: #EDECEC;
    height: 100vh;
    overflow: hidden;
}

#items {
    width: 100vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #D7D5D4;

    align-items: center;
}

#elementos {
    background: #FFFFFF;
    margin: 0;

}

#palabras p {
    text-align: center;
    margin: 0
}

p, h2 {
    font-family: 'Quicksand';
}

#check {
    margin-right: 0.5em;
}

/*
PC
*/

#nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #CF8E8E;
    color: rgb(255, 252, 252);
    padding: 2vh 0vh;
    height: 8vh;
}

@media (min-width: 950px){
    

    .titulo {
        font-weight: 300;
    }

    #salir{
        position: absolute;
        left: 3vh;
    }

    #info-sus{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .perrito{
        width: 25vh;
        height: 25vh;
        margin-top: 3vh;
        margin-bottom: 2vh;
        border-radius: 100%;
    }

    .nombre{
        height: 6.5vh;
        width: 9em;
        border: 2px solid #9E8FD4;
        color: #624ABE;
        border-radius: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        font-size: 1.5em;
        margin-bottom: 1em;
    }

    #elementos {
        width: 30%;
        display: flex;
        padding: 1em;
        border: 3px solid #402A36;
        border-radius: 17px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #elemeptos p{
        margin: 0;
    }

    .suscribirse {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .suscribirse{
        margin-top: 1.5em;
        margin-bottom: 0.5em;
        color: #402A36;
        background-color: #E47E7E;
        border: 3px solid #402A36;
        box-sizing: border-box;
        border-radius: 17px;
        color: #FFFFFF;
        width: 100%;
        height: 3em;
    }

    .desuscribirse{
        margin-top: 1.5em;
        margin-bottom: 0.5em;
        color: #402A36;
        background-color: #755f5f;
        border: 3px solid #402A36;
        box-sizing: border-box;
        border-radius: 17px;
        color: #FFFFFF;
        width: 100%;
        height: 3em;
    }

    #palabras{
        width: 100%;
        color: #402A36;
        margin-top: 2vh;
        font-weight: 700;
    }
    .pregunta{
        color: #402A36;
        margin-top: 2vh;
    }
}

/*
Movil
*/



@media (max-width: 950px){
    

    #salir{
        position: absolute;
        left: 1vh;
    }
    #info-sus{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .perrito{
        width: 20vh;
        height: 20vh;
        margin-top: 6vh;
        margin-bottom: 1vh;
        border-radius: 100%;
    }
    /* edicion del nombre de la suscripcion*/
    .nombre{
        height: 6.5vh;
        width: 8em;
        border: 3px solid #9E8FD4;
        color: #624ABE;
        border-radius: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 1em;
        margin-bottom: 2em;
    }

    #elementos {
        width: 80%;
        display: flex;
        padding: 1vh 1vh;
        border: 2px solid #402A36;
        border-radius: 17px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .suscribirse{
        margin-top: 1vh;
        margin-bottom: 0.5em;
        color: #402A36;
        background-color: #E47E7E;
        border: 3px solid #402A36;
        box-sizing: border-box;
        border-radius: 17px;
        width: 90%;
        color: #FFFF;
    }

    #palabras{
        width: 100%;
        color: #402A36;
        margin-top: 2vh;
        font-weight: 700;
        font-size: 0.8em;
    }

    .pregunta{
        width: 100%;
        height: 100%;
        color: #402A36;
        margin-top: 2vh;

    }

    #mensajeSuscripcion {
        font-size: 0.8em;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
