#body{
    background: #D7D5D4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* PC */
@media (min-width: 950px){
    #nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #CF8E8E;
        color: rgb(255, 252, 252);
        padding: 2vh 0vh;
        width: 100%;
    }


    .titulo {
        font-weight: 300;
    }

    #salir{
        position: absolute;
        left: 3vh;
    }
    #info-sus{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .perrito{
        width: 25vh;
        height: 25vh;
        margin-top: 6vh;
        margin-bottom: 3vh;
        border-radius: 100%;
    }
    /* edicion del nombre de la suscripcion*/
    .nombre{
        height: 6.5vh;
        width: 7.5em;
        border: 3px solid #9E8FD4;
        color: #624ABE;
        border-radius: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        font-size: 1.5em;
    }

    #elementos {
        width: 30%;
        display: flex;
        padding: 1vh 1vh;
        border: 1.5px solid #402A36;
        border-radius: 17px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-style: italic;
        background-color: #FFFFFF;
    }

    .suscribirse {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .suscribirse button {
        margin-top: 1vh;
        margin-bottom: 1.5em;
        color: #402A36;
        background-color: #E47E7E;
        border: 1.5px solid #402A36;
        box-sizing: border-box;
        border-radius: 17px;
        color: #FFFFFF;
    }

    .suscribirse div {
        display: flex;
        flex-direction: row;
    }

    .suscribirse div input {
        margin-top: 1.2vh;
        margin-right: 1vh;
    }

    #palabras{
        color: #402A36;
        margin-top: 2vh;
    }

    .pregunta{
        color: #402A36;
    }
  
}

/* Movil */
@media (max-width: 950px){
    #nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #CF8E8E;
        color: rgb(255, 252, 252);
        padding: 2vh 0vh;
        width: 100%;
    }


    .titulo {
        font-weight: 300;
    }

    #salir{
        position: absolute;
        left: 1vh;
    }
    #info-sus{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .perrito{
        width: 20vh;
        height: 20vh;
        margin-top: 6vh;
        margin-bottom: 3vh;
        border-radius: 100%;
    }
    /* edicion del nombre de la suscripcion*/
    .nombre{
        height: 6.5vh;
        width: 7.5em;
        border: 3px solid #9E8FD4;
        color: #624ABE;
        border-radius: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        font-size: 1em;
    }

    #elementos {
        width: 80%;
        display: flex;
        padding: 1vh 1vh;
        border: 1.5px solid #402A36;
        border-radius: 17px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 5vh;
        font-style: italic;
        background-color: #FFFFFF;
    }

    .suscribirse {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .suscribirse button {
        margin-top: 1vh;
        margin-bottom: 1.5em;
        color: #402A36;
        background-color: #E47E7E;
        border: 1.5px solid #402A36;
        box-sizing: border-box;
        border-radius: 17px;
        color: #FFFF;
    }

    .suscribirse div {
        display: flex;
        flex-direction: row;
    }

    .suscribirse div input {
        margin-top: 3vh;
        margin-right: -2.5vh;
    }

    #palabras{
        width: 100%;
        height: 100%;
        color: #402A36;
        margin-top: 2vh;
        margin-left: 1vh;
    }

    .pregunta{
        width: 100%;
        height: 100%;
        color: #402A36;
        margin-top: 2vh;
        margin-left: 3vh;
    }
}