{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'BuyBeeApp/css/producto.css' %}">
    <title>{{ producto.nombre }}</title>
</head>

<body>
    <div id="nav">
        <a id="salir" href="{% url 'home' %}"><img src="{% static 'BuyBeeApp/assets/images/Exit.png' %}"></a>
        <h1>{{ producto.nombre }}</h1>
    </div>
    <div id="imagen" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div id="inner-carousel" class="carousel-inner" style="height: 100%; border-radius: 2em;">
            {% for imagen in imagenes %}
                {% if activa == imagen.id %}
                    <div id="item" class="carousel-item active" style="height: 100%; border-radius: 2em;">
                        <img class="carrusel-imagen" src="/media/{{ imagen.imagen }}">
                    </div>
                {% else %}
                    <div id="item" class="carousel-item" style="height: 100%; border-radius: 2em;">
                        <img class="carrusel-imagen" src="/media/{{ imagen.imagen }}">
                    </div>
                {% endif %}
            {% endfor %}
            {% if imagenes|length > 1 %}
                <button class="carousel-control-prev" type="button" data-bs-target="#imagen" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#imagen" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            {% endif %}
        </div>
    </div>
    <div id="info-producto">
        <div id="comprados" class="info-producto-datos">
            <img src="{% static 'BuyBeeApp/assets/images/Comprados.png' %}">
            <span class="texto">{{ producto.compras }}</span>
        </div>
        <div id="vendedor" onclick="window.open('/vendedor/{{ vendedor.nombreusuario }}', '_self')" class="info-producto-datos" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Visitar Perfil del Vendedor">
            <img src="{% static 'BuyBeeApp/assets/images/Vendedor.png' %}">
            <span class="texto">{{ vendedor.nombreusuario }}</span>
        </div>
        <div id="stock" class="info-producto-datos" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Stock">
            <img src="{% static 'BuyBeeApp/assets/images/Stock.png' %}">
            <span class="texto">{{ producto.stock }}</span>
        </div>
        <div id="vistos" class="info-producto-datos">
            <img src="{% static 'BuyBeeApp/assets/images/Vistos.png' %}">
            <span class="texto">{{ producto.vistas }}</span>
        </div>
    </div>
    <p class="texto">{{ producto.descripcion }}</p>
    <H2 class="texto">CLP$ {{ producto.precio }}</H2>
    <div id="buttons">
        {% if es_vendedor %}
            <button onclick="window.open('http://127.0.0.1:8000/', '_self')" class="btn btn-primary mb-3 boton">Volver atrás</button>
        {% else %}
            <form method="POST">
                {% csrf_token %}
                {% if en_carrito %}
                    <button type="submit" class="btn btn-primary mb-3 boton">Remover del Carrito</button>
                {% else %}
                    <button type="submit" class="btn btn-primary mb-3 boton">Agregar al Carrito</button>
                {% endif %}
            </form>
        {% endif %}
    </div>
</body>

</html>