{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'BuyBeeApp/css/registro.css' %}">
    <title>Registrarse</title>
    <script src="{% static 'BuyBeeApp/js/registro.js' %}"></script>
</head>
<body>
    <a id="salir" href="{% url 'iniciar-sesion' %}"><img src="{% static 'BuyBeeApp/assets/images/Back.png' %}" ></a>
    <div id="todo">
        <div id="elementos">
            <div id="logo">logo</div>
            
            <h1>Crear cuenta</h1>
            <!--A pesar de que marque error en el evento "onsubmit", no corrijan, está bien así
            la extensión de Visual Studio Code marca eso como error. Pero, es una funcionalidad para
            cancelar el submit de un form si es que una función retorna falso-->
            <form method="POST" onsubmit="return chequearContraseña(event)">
                {% csrf_token %}
                <div class="mb-3" id="input-box"> <!--Nombre de Usuario-->
                    <label for="formGroupExampleInput" class="form-label">Nombre de usuario</label>
                    <input name="username" required type="text" class="form-control" id="formGroupExampleInput" placeholder="Wacoldon">
                </div>
                <div class="mb-3" id="input-box"> <!--Correo Electronico-->
                    <label for="formGroupExampleInput2" class="form-label">Correo Electronico</label>
                    <input name="email" required type="email" class="form-control" id="formGroupExampleInput2" placeholder="Wacoldo@Correo.cl">
                </div>
                <div class="mb-3" id="input-box"> <!--Contraseña-->
                    <label for="contra" class="form-label">Contraseña</label>
                    <input name="password1" id="contra" required type="password" class="form-control" placeholder="Wacoldin123">
                </div>
                <div class="mb-3" id="input-box"> <!--Contraseña-->
                    <label for="contra2" class="form-label">Confirmar contraseña</label>
                    <input name="password2" id="contra2" required type="password" class="form-control" placeholder="Wacoldin123">
                </div>
                <label id="labelSubmitRegistrar" for="submit" class="form-label">
                    <img id="errorImg" src="{% static 'BuyBeeApp/assets/images/Error.png' %}">
                    Las contraseñas no coinciden.
                </label>
                <input type="submit" value="Continuar" id="submit">
            </form>
        </div>
    </div>
</body>
</html>