{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'BuyBeeApp/css/suscripcion.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <title>Centro de suscripcion</title>
</head>
<body id="body">
    <div id="nav">
        <a id="salir" href="{% url 'home' %}"><img src="{% static 'BuyBeeApp/assets/images/Exit.png' %}" ></a>
        <h2 class="titulo">Centro de Suscripciones</h2>
    </div>
    <div id="info-sus">
        <img class="perrito" src="{% static 'BuyBeeApp/assets/images/perrito.png' %}">
        <h2 class="nombre">Fundacion Arca</h2>
    </div>
    <div id="elementos">
        <p> es una organización sin fines de lucro compuesta por un equipo interdisciplinario de abogados, médicos veterinarios y voluntarios,
         dedicada al estudio normativo e investigación cientifica orientado a la protección y fomento del bienestar animal.</p>
    </div>
    <div id="palabras">
        <p class="descuento">Obten un [5%] de descuento con tu suscripcion</p>
    </div>
    <form method="POST" class="suscribirse">
        {% csrf_token %}
        {% if usuario.suscrito %}
            <div>
                <input required type="checkbox" id="suscripcion" name="suscripcion">
                <label for="suscripcion" class="pregunta">Esta seguro de querer cancelar su suscripcion</label>
            </div>
            <button type="submit" class="btn btn-primary">Cancelar suscripcion</button>
        {% else %}
            <div>
                <input required type="checkbox" id="suscripcion" name="suscripcion">
                <label for="suscripcion" class="pregunta">Esta seguro de querer iniciar su suscripcion</label>
            </div>
            <button type="submit" class="btn btn-primary">Suscripcion</button>
        {% endif %}
    </form>
    <!--
    <div class="suscribirse">
        <button type="suscribirse" class="btn btn-primary">Suscripcion</button>
    </div>
    -->
</body>
