{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'BuyBeeApp/css/iniciar-sesion.css' %}">
    <title>Iniciar sesion</title>
</head>
<body>
    <a id="salir" href="/"><img src="{% static 'BuyBeeApp/assets/images/Exit.png' %}" ></a>
    <div id="todo">
        <div id="elementos">
            <div id="logo">logo</div>
            <h1>Iniciar sesion</h1>
            <!-- Hay que hacerlo con Forms en lo posible. -->
            <form action="" method="POST" >
                {% csrf_token %}
                <div class="mb-3" id="input-box">
                    <label for="formGroupExampleInput" class="form-label">Nombre de Usuario</label>
                    <input name="username" required type="text" class="form-control" id="formGroupExampleInput" placeholder="Wacoldo">
                </div>
                <div class="mb-3" id="input-box">
                    <label for="formGroupExampleInput2" class="form-label">Contraseña</label>
                    <input name="password" required type="password" class="form-control" id="formGroupExampleInput2" placeholder="Wacoldin123">
                </div>
                <input type="submit" value="Iniciar Sesion" id="submit">
                <a href="">Olvidaste tu contraseña?</a>
                <a href="{% url 'registrarse' %}">No tienes una cuenta? Registrate.</a>
            </form>
        </div>
    </div>
</body>
</html>